<p>
    {if $positives > 0}

        <b>ATTENTION!</b>

        <br/><br/>

        There {if $positives === 1}was{else}were{/if} <b>{$positives}</b> positive virus 
        match{if $positives !== 1}es{/if} detected in your attachment{if count( $attachments > 1 )}s{/if}.
        See the summary below for further information but please <b>do not attempt to download or open
        any of the attachments</b>.

        <br/></br>

        Please contact the Badger Meter Helpdesk at your earliest convenience to report this potential problem.

    {else}

        Greetings,

        <br/><br/>

        No viruses were detected in your file{if count( $attachments ) > 1}s{/if}.  However, please be advised that although none were
        detected, the {if count( $attachments ) > 1 }files are{else}file is{/if} not necessarily virus free.  Please take a moment to verify that:

        <ol>
            <li>The email address of the attachment sender is a known and trusted contact.</li>
            <li>The attachment filenames and extensions pertain to files you were expecting to receive.</li>
            <li>The file sizes of the attachments reasonably match what you were expecting.</li>
        </ol>

        <br/><br/>

        If you have any questions or further concerns please contact 
        the Badger Meter Helpdesk at your earliest convenience.

    {/if}

    <br/><br/>

    Thank You

    <br/><br/>

    <i>Technical details follow.</i>

</p>

<br/><br/>

<b>Attachment Report Summary</b>

<br/>
<hr/>
<br/>

{assign var="td1"  value="<td style=\"width: 150px; border: 0; text-align: left\">"}
{assign var="td2"  value="<td style=\"width: 375px; border: 0; text-align: right\">"}
{assign var="tr"  value="<tr style=\"border: 0;\">"}

{foreach from=$attachments item=result}
    <table style="margin-bottom: 20px; border: 0">
        {$tr}{$td1}<b>Filename:</b></td>       {$td2}{$result.filename}</td></tr>
        {$tr}{$td1}<b>Positives:</b></td>      {$td2}{$result.positives}</td></tr>
        {$tr}{$td1}<b>Time Completed:</b></td> {$td2}{$result.time_completed}</td></tr>
        {$tr}{$td1}<b>Permalink:</b></td>      {$td2}<a target="_blank" href="{$result.permalink}">Technical Results</a></td></tr>
    </table>
{/foreach}


