<p>
    Greetings,
    <br/><br/>
    Your virustotal report summary is available here: <a target="_blank" href="{$permalink}">Results</a>
    <br/><br/>
    Filename:       {$filename}<br/>
    Time Added:     {$time_added}<br/>
    Time Sent:      {$time_sent}<br/>
    Time Completed: {$time_completed}<br/>
</p> 
